html{
    height: 100%;
}

body {
    background-image: linear-gradient(321deg, #733856 1%, #387874);
             background-repeat: no-repeat;
             background-attachment: fixed;
             height: 100%;

}

a:hover { 
    color: white;
}

.navbar {
    padding: 1.5rem 2rem;
}

.logo {
    width: 139px;
    height: 40px;
    object-fit: contain;
}

.smm-icon{
    width: 30px;
}

.main-header {
    font-family: 'Signika Negative', sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #14c8c0;

    background-image: linear-gradient(321deg, #f50057, #14c8c0);;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.slogan{
    font-family: 'Signika Negative', sans-serif;

    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #14c8c0;

    background-image: linear-gradient(321deg, #f50057, #14c8c0);;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.footer-text {
    font-family: 'Signika Negative', sans-serif;
    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

#wrap {
    padding: 0 0 80px;
    position: relative;
    min-height: 100%;
}

.footer {
    bottom: 0;
    height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: transparent;
}