<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
	{% if page.locale == "en" %}
	<a class="navbar-brand mr-0 mr-md-2" href="/">
		<img src="/public/images/logo.png" class="logo" />
	</a>
	<div class="navbar-nav-scroll">
		<ul class="navbar-nav bd-navbar-nav flex-row">
			<li class="nav-item">
				<a class="nav-link" href="/blog" rel="noopener">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/help" rel="noopener">Help</a>
			</li>
		</ul>
	</div>
	{% else %}
	<a class="navbar-brand mr-0 mr-md-2" href="/{{ page.locale }}/">
		<img src="/public/images/logo.png" class="logo" />
	</a>
	<div class="navbar-nav-scroll">
		<ul class="navbar-nav bd-navbar-nav flex-row">
			<li class="nav-item">
				<a class="nav-link" href="/{{ page.locale }}/blog/" rel="noopener">{{ site.blog[page.locale] }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/{{ page.locale }}/help/" rel="noopener">{{ site.help[page.locale] }}</a>
			</li>
		</ul>
	</div>
	{% endif %}
	<ul class="navbar-nav flex-row ml-md-auto d-md-flex">
		<li class="nav-item">
			<a class="nav-link" href="https://itunes.apple.com/us/app/piano-3d/id1402994766?ls=1&mt=8" target="_blank" rel="noopener"
			 onclick="gtag('event', 'appStoreClick');">
				<img src="/public/images/appStore.png" class="logo" />
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://play.google.com/store/apps/details?id=com.MobilrKingdom.Piano3D" target="_blank"
			 rel="noopener" onclick="gtag('event', 'playStoreClick');">
				<img src="/public/images/googleStore.png" class="logo" onclick="gtag('event', 'googleStoreClick');" />
			</a>
		</li>
	</ul>
</header>