<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-118775151-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-118775151-1");
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Piano 3D - a piano app for iOS, Android and Windows</title>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Signika+Negative"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/css/privacyPolicy.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/images/favicon-16x16.png"
    />

    <meta
      name="keywords"
      content="Piano,piano3d,Android,iOS,iPhone,Sound,Music,Guitar,Sax,Notes,Tutorials,Download"
    />
    <meta
      name="description"
      content="Official site of Piano 3D mobile application. Practice, learn new songs, sing along and just have fun with Piano 3D on your iOS or Android device."
    />

    <link rel="canonical" href="https://piano3d.com/" />

    <link rel="alternate" hreflang="en" href="/" />
  </head>

  <body class="d-flex flex-column justify-content-between min-vh-100">
    <header
      class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar"
    >
      <a class="navbar-brand me-0 me-md-2" href="/">
        <img src="/public/images/logo.png" class="logo" />
      </a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link" href="/windows" rel="noopener">Windows</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blog" rel="noopener">Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/help" rel="noopener">Help</a>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav flex-row ms-md-auto d-md-flex">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://itunes.apple.com/us/app/piano-3d/id1402994766?ls=1&amp;mt=8"
            target="_blank"
            rel="noopener"
            onclick="gtag('event', 'appStoreClick');"
          >
            <img src="/public/images/appStore.png" class="logo" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://play.google.com/store/apps/details?id=com.MobilrKingdom.Piano3D"
            target="_blank"
            rel="noopener"
            onclick="gtag('event', 'playStoreClick');"
          >
            <img
              src="/public/images/googleStore.png"
              class="logo"
              onclick="gtag('event', 'googleStoreClick');"
            />
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="https://apps.microsoft.com/store/detail/piano-3d/9WZDNCRDCWVN"
            target="_blank"
            rel="noopener"
            onclick="gtag('event', 'playStoreClick');"
          >
            <img
              src="/public/images/windowsStore.png"
              class="logo"
              alt="windows store"
              onclick="gtag('event', 'windowsStoreClick');"
            />
          </a>
        </li>
      </ul>
    </header>

    <div class="flex-grow-1">{{ content }}</div>

    <footer
      class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar"
    >
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://twitter.com/piano3d"
              target="_blank"
              rel="noopener"
              aria-label="GitHub"
            >
              <img src="/public/images/twitter.png" class="smm-icon" />
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.facebook.com/piano3d"
              target="_blank"
              rel="noopener"
              aria-label="Twitter"
            >
              <img src="/public/images/facebook.png" class="smm-icon" />
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.youtube.com/channel/UC9MOkgEEoZUGpnM8B3MsYeA"
              target="_blank"
              rel="noopener"
              aria-label="Twitter"
            >
              <img src="/public/images/youtube.png" class="smm-icon" />
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://www.instagram.com/piano3dapp/"
              target="_blank"
              rel="noopener"
              aria-label="Twitter"
            >
              <img src="/public/images/instagram.png" class="smm-icon" />
            </a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav flex-row ms-md-auto d-md-flex">
        <li class="nav-item">
          <a
            class="nav-link footer-text"
            href="mailto:info@piano3d.com"
            target="_blank"
            rel="noopener"
          >
            info@piano3d.com
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link footer-text" href="/privacyPolicy/" rel="noopener">
            Privacy Policy
          </a>
        </li>
      </ul>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
